.calendar__body {
  .table__head {
    .day {
      text-align: left;
    }
  }

  .days__header {
    height: 30px;
    border: 1px solid $border-color;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
    text-align: left;
  }

  .common__td {
    width: 140px;
    height: 100px;
    position: relative;
    border: 1px solid $border-color;
    padding-top: 5px;
    vertical-align: top;
    color: rgb(195,195,195);
  }

  .week-type {
    tbody {
      .common__td {
        width: 140px;
        height: 25px;
        position: relative;
        border: 1px solid $border-color;
        padding-top: 5px;
        vertical-align: top;
        color: rgb(195,195,195);
      }
    }
  }

  .day-type {
    .time-display {
      width: 10%;
    }

    .common__td {
      width: 90%;
      height: 25px;
    }
  }

  .current-month {
    color: $black;
  }

  .today {
    background-color: rgba(254, 219, 70, 0.2);
  }

  .sun {
    color: rgb(241,49,69);
  }

  .sat {
    color: rgb(24,150,234)
  }

  .more {
    cursor: pointer;
  }
}