@charset 'utf-8';

html, body {
  max-width: 1342px;
  width: 1342px;
  margin: 0 auto;
}

#js-calendar {
  min-width: 800px;
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  padding: 15px;

  table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
  }
}

.right {
  float: right;
}

.text-white {
  color: $white;
}